<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>pom</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>
  <div>
    <a ui-sref="Home">Home</a>
    <a ui-sref="taskCreate">Add(+)</a>

    <a href="https://www.youtube.com/user/FlowStyleLiving" style="float: right; font-family: futura; font-style: italic; font-weight: bold; "><span>flowstyleLiving™</span></a>


  </div>
    <!-- Single button with keyboard nav -->
  <div class="col col-sm-1" style="float: right; margin-right: 15px;">
    <!-- Dropdown if not logged in -->
    <div class="btn-group" uib-dropdown keyboard-nav ng-show="!nav.status._id">
      <button id="simple-btn-keyboard-nav" type="button" style="height: 30px; line-height: 5px;" class="btn btn-success" uib-dropdown-toggle>
        Login <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a ui-sref="userLogin">Login</a></li>
        <li role="menuitem"><a ui-sref="userRegister">Register</a></li>
        <li role="menuitem"><a href="#" disabled>Reset Password</a></li>
      </ul>
    </div>
    <!-- Dropdown if logged in -->
    <div class="btn-group" uib-dropdown keyboard-nav ng-show="nav.status._id">
      <button id="simple-btn-keyboard-nav" type="button" style="height: 30px; line-height: 5px;" class="btn btn-success" uib-dropdown-toggle>
        Account <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a>Profile</a></li>
        <li role="menuitem"><a>Notifications</a></li>
        <li role="menuitem"><a ng-click="nav.logout()" style="cursor:pointer;">Logout</a></li>
      </ul>
    </div>
  </div>
  <br>

  <ui-view></ui-view>

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


  <script src="/js/app.js"></script>
  <script src="/js/services/TaskService.js"></script>
  <script src="/js/services/UserService.js"></script>
  <script src="/js/services/ChecknoteService.js"></script>
  <script src="/js/services/AuthInterceptor.js"></script>
  <script src="/js/controllers/HomeController.js"></script>
  <script src="/js/controllers/TaskCreateController.js"></script>
  <script src="/js/controllers/TaskNoteController.js"></script>
  <script src="/js/controllers/UserLoginController.js"></script>
  <script src="/js/controllers/UserRegisterController.js"></script>



</body>

</html>
