h1(class="form-inline")
  span
    button(type="button" ng-click"pomEvent()") POM
  br
  span
    input.form-control(type="text",placeholder="I want to..." ng-model="search" ng-submit="vm.create().title")
br
br
div#main(ng-repeat="t in vm.tasks | filter: search")
    div.container.well(ng-model="isSmall")
      div.col.col-md-3
        p#color(style="background-color: {{t.color}};")
        h6 Task: 
          h6 {{t.title}}
      div.col.col-md-6
        label Due:
          p {{t.dueDate | date:'longDate'}}      
          p.confirm
            input.checkNotes(ng-repeat="c in t.checkNotes", type="checkbox") 
            {{c.title}}
      div.col.col-m-2
        button.btn.btn-warning.transformable(ng-click="isSmall = !isSmall; showDetails = ! showDetails;") Edit
        br
        button.btn.btn-danger(ng-click="vm.remove(t)") Delete
    div(ng-show="showDetails") 
      form#showDetails(ng-submit="vm.update(t)") 
        div.container.well.hello
          div.well.span3
            label Title: 
            br
            input.form-control(type="text", ng-model="t.title")
          div.well.span3
            label Date Due:
            br
            input.form-control(type="datetime", ng-model="t.dueDate")
          div.well.span3
            label checkNotes:
            br
            input.form-control(type="string", ng-model="t.checkNotes")
          div(style="text-align: center")
            button.btn.btn-primary(type="submit") +Submit÷

    
//- div.container-fluid
//-   div.row(ng-repeat="t in vm.tasks")
//-   	div.col-md-4
//-       label Task: 
//-       h3
//-         {{t.title}}
//-       br
//-       label Created: 
//-         p {{t.postDate | date:'longDate'}}
//-   	div.col-md-4
//-       p.confirm
//-       input(type="checkbox", name="checkNotes")
//-         {{t.checkNotes.check}}
//-   	div.col-md-4
//-       button.btn.btn-danger(ng-click="vm.remove(t)") Delete    
