h1 Edit Task

div.container.well(ng-submit="vm.update(_id)")
  div
    label Title: 
    br
    input.form-control(type="text", ng-model="vm.task.title")
  hr
  div
    label Date Due:
    br
    input.form-control(type="date", ng-model="vm.task.dueDate")
  hr
  div
    label checkNotes:
    br
    input.form-control(type="string", ng-model="vm.task.checkNotes")
  hr
  div(style="text-align: center")
    button.btn.btn-primary(type="submit") Submit
