div.hcenter.container.col-sm-8.col-sm-offset-2.row(style="height: 70px;")
	a(style="float:left; display: inline-block; line-height: 70px;", ui-sref="Login") Login
	h2(style="display: inline-block").title Register

form.container.well.col.col-sm-8.col-sm-offset-2(ng-submit="vm.register()")
	div.row.form-inline
		div.col.col-sm-6
			label * Name:
			input.form-control.my-input(ng-model="vm.user.name")
		div.col.col-sm-6
			label * Email:
			input.form-control.my-input(type="email", ng-model="vm.user.email", style="min-width: 75%; max-width: 100%;")
	div.row.form-inline
		div.col.col-sm-6
			label * Password:
			input.form-control.my-input(type="password", ng-model="vm.user.password")
		div.col.col-sm-6
			label * Confirm Password:
			input.form-control.my-input(type="password", ng-model="vm.user.confirmPassword")
	div.row.form-inline
		div.col.col-sm-4
			label Age: 
			input.form-control.my-input(type="number", ng-model="vm.user.age")
		div.col.col-sm-4
			label Gender:
			input.form-control.my-input(ng-model="vm.user.gender")
		div.col.col-sm-4
			label Location:
			input.form-control.my-input(ng-model="vm.user.location")
	div.row.form-inline
		div.col.col-sm-12
			label Image Url:
			input.form-control.my-input(ng-model="vm.user.imageUrl")
	div.row
		div.col.col-sm-12
			label About Me:
			textarea.form-control(ng-model="vm.user.bio", rows="10")
	div.hcenter
		button.btn.btn-success(type="submit") Submit
