body {
  background-color: #ffa316;
}

h1 {
  text-align: center;
}
/*.container {
  background-color: lightgrey;
  border: 1pt solid black;
  width: 500px;
  height: 100px;
  margin-bottom: 10px;
}*/

.row {
  border: 1pt solid black;

  width: 500px;
  height: 100px;
}

#color {
  width: 25px;
  height: 25px;
}

.transformable {
    -webkit-transition: height 100ms linear;
    -moz-transition: height 100ms linear;
    -o-transition: height 100ms linear;
    -ms-transition: height 100ms linear;
    transition: height 100ms linear;

}

.small {
  border: 1pt solid black;

    height:300px;
}

.big {
  border: 1pt solid black;

    height:100px;
}

.checkNotes {
  height: auto;
  width: 20px;
}

#showDetails {
  margin-top: -22px;
  /*display: block;*/
  /*border: 1pt solid red;*/
}
